<main class="form-signin w-100 m-auto">

    {{#if error}}
        <div class="alert alert-warning" role="alert">
            {{error}}
        </div>
    {{/if}}

    <form action="/register" method="post">
        <img class="mb-4" src="/images/zuckerkonto_crop_128.png" alt="" width="72"/>
        <h1 class="h3 mb-3 fw-normal">Registrieren</h1>
        <div class="mb-3">
            Ihre beste Entscheidung des Tages: ein Zuckerkonto zu eröffnen.
        </div>
        <div class="form-floating">
            <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Benutzername"
                   required/>
            <label for="floatingInput">Benutzername</label>
        </div>
        <div class="form-floating mb-3">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Passwort"
                   autocomplete="current-password" required/>
            <label for="floatingPassword">Passwort</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Registrieren</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2025 {{title}}</p></form>
</main>
